---
layout: layout.html
---
{% for post in collections.post reversed %}
<a href="{{ post.url }}">
	<div class="post-card">
		<img src="{{ post.data.image }}" alt="{{ post.data.title }}" class="post-image">
		<div class="post-content">
			<h2>{{ post.data.title }}</h2>
			<div>
				<span class="post-date">{{ post.date | date: "%Y.%m.%d" }}</span>
				{% if post.data.publicTags %}
					{% for tag in post.data.publicTags %}
						<span class="post-tag">{{ tag }}</span>
					{% endfor %}
				{% endif %}
			</div>
			<span class="post-description">{{ post.data.description }}</span>
		</div>
	</div>
</a>
{% endfor %}
<br>
<img style="filter: drop-shadow(0px 0px 50px rgba(0, 0, 0, .25));" src="/assets/kiwis/traced_kiwi.svg">