---
layout: layout.html
---
<h1 style="display: none;">FrostKiwi's Secrets</h1>
{% for post in collections.post | reverse %}
	{% if not post.data.wip %}
		<a href="{{ post.url }}">
			<div class="post-card">
				<picture>
					<source srcset="{{ post.data.imageAvif }}" type="image/avif" />
					<source srcset="{{ post.data.imageWebp }}" type="image/webp" />
					<img src="{{ post.data.image }}" alt="{{ post.data.title }}" class="post-image">
				</picture>
				<div class="post-content">
					<h2>{{ post.data.title }}</h2>
					<div class="subinfo">
						<span class="post-date">{{ post.date | dateFormat("yyyy.MM.dd") }}</span>
						{% if post.data.publicTags %}
						<div>
							{% for tag in post.data.publicTags %}
								<span class="post-tag">{{ tag }}</span>
							{% endfor %}
						</div>
						{% endif %}
					</div>
					<span class="post-description">{{ post.data.description }}</span>
				</div>
			</div>
		</a>
	{% endif %}
{% endfor %}
<br>
<img alt="Kiwi in the snow" style="filter: drop-shadow(0px 0px 50px rgba(0, 0, 0, .25));" src="/assets/kiwis/traced_kiwi.svg">