body {
	background-color: #231e1f;
	background-image: url("/assets/bg.png");
}

main img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

main {
	text-align: justify;
}

audio {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

table img {
	margin-bottom: 0px;
}

.kiwi {
	height: 80px;
	width: 80px;
}

.top-bar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
	text-shadow: 0px 0px 25px rgba(0, 0, 0, .5);
	gap: 10px;
}

.site_title {
	line-height: 1.1;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
	font-weight: 500;
	overflow-wrap: break-word;
	word-wrap: break-word;
	-ms-word-break: break-all;
	word-break: break-word;
	font-size: 2.35em;
}

.left_group {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
	gap: 8px;
	flex-shrink: 0;
}

.comment_group {
	display: flex;
	justify-content: start;
	align-items: center;
	flex-direction: row;
	gap: 8px;
}

.comment_group .kiwi {
	margin: unset;
}

.right_group {
	font-size: larger;
	letter-spacing: 0.5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	gap: 2px;
}

.top-bar img,
.top-bar h1 {
	margin: 0px;
}

.top-bar a {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	gap: 2px;
}

.no_border:hover {
	border-bottom: 0px;
}

.social {
	display: flex;
	gap: 4px;
}

.social img {
	height: 48px;
}

/* Little hack because end alligned elements jump with border bottom */
.social a {
	border-bottom: 0px;
}

.social_icon {
	filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, .25));
}

.social_icon:hover {
	filter: brightness(5%) invert(37%) sepia(23%) saturate(6807%) hue-rotate(332deg) brightness(92%) contrast(84%) drop-shadow(0px 0px 15px rgba(0, 0, 0, .25));
}

.flag {
	margin: 0px;
	height: 1em;
	display: inline;
}

.profile {
	float: left;
	width: 22%;
	margin-right: 20px;
}

.post_title h1 {
	margin-top: 2rem;
	margin-bottom: 0px;
	font-size: 2.2em;
}

@media (max-width: 382px) {
	.kiwi {
		height: 60px;
		width: 60px;
	}

	.right_group {
		letter-spacing: 0.1rem;
	}

	.right_group img {
		height: 32px;
	}

	.site_title {
		font-size: 2em;
	}
}

@media (max-width: 320px) {
	.kiwi {
		height: 40px;
		width: 40px;
	}

	.right_group img {
		height: 24px;
	}

	.site_title {
		font-size: 1.5em;
	}
}

.dates {
	padding-top: 2px;
	font-weight: 500;
	display: flex;
	justify-content: start;
	flex-direction: row;
	font-size: small;
	gap: 8px;
}

.created {
	color: rgba(255, 255, 255, 0.445);
}

.last_modified {
	color: rgba(255, 255, 255, 0.253);
}

.audio-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	text-align: center;
	margin-bottom: 1rem;
}

canvas {
	width: 100%;
}

figure {
	display: flex;
	flex-flow: column;
	margin: auto;
	align-items: center;
	margin-bottom: 2rem;
}

figure img {
	margin-bottom: 1rem;
}

canvas {
	margin-bottom: 0px;
}

figcaption {
	width: 90%;
	text-align: center;
	font-size: smaller;
}

aside {
	line-height: 2.5rem;
}

aside blockquote {
	margin-bottom: 1rem;
}

aside a {
	font-size: smaller;
}

aside ul {
	margin-bottom: unset;
}

aside li {
	margin-bottom: unset;
}

.reaction {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 8px;
	padding: 1rem;
	margin-bottom: 1rem;
	margin-top: 1rem;
}

.reaction img {
	margin: 0px;
}

.reaction_text{
	width: 100%;
	text-align: center;
	font-style: italic;
}

code {
	white-space: unset;
}