@use 'sass:color';

@use 'normalize.css/normalize.css';
@use 'prism-themes/themes/prism-gruvbox-dark.css';

@use 'sakura.css/scss/sakura-vader' as sakura;
@use 'sizes' as size;

@use 'multiSwitch';
@use 'sliders';
@use 'header';
@use 'about';
@use 'cards';
@use 'kiwis';

body {
	background-color: #231e1f;
	background-image: url("/assets/bg.png");
}

main {
	img {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}

p {
	text-align: justify;
}

audio {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

table img {
	margin-bottom: 0px;
}

.invisUnderline {
	border-bottom: 2px solid transparent;
}

.comment_group {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
	gap: 8px;

	.kiwi {
		margin: unset;
	}
}

.no_border:hover {
	border-bottom: 0px;
}

.social_icon {
	svg {
		filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, .25));
	}

	&:hover {
		svg path {
			fill: sakura.$color-force;
		}
	}
}

.post_title {
	h1 {
		margin-top: 2rem;
		margin-bottom: 0px;
		font-size: 2.2em;
	}
}

.h5like {
	display: block;
	line-height: 1.1;
	font-size: 1.25em;
	font-weight: 700;
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
}

.dates {
	padding-top: 2px;
	font-weight: 500;
	display: flex;
	justify-content: start;
	flex-direction: row;
	font-size: small;
	gap: 8px;
}

.created {
	color: rgba(255, 255, 255, 0.445);
}

.last_modified {
	color: rgba(255, 255, 255, 0.253);
}

.audio-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	text-align: center;
	margin-bottom: 1rem;
}

canvas {
	width: 100%;
}

figure {
	display: flex;
	flex-flow: column;
	margin: auto;
	align-items: center;
	margin-bottom: 2rem;

	img,
	video {
		margin-bottom: 1rem;
	}

	figcaption {
		width: 90%;
		text-align: center;
		font-size: smaller;
	}
}

canvas {
	margin-bottom: 0px;
}

blockquote {
	border-image: linear-gradient(0deg, color.scale(sakura.$color-blossom, $lightness: -10%) 0%, sakura.$color-blossom 100%);
	border-image-slice: 1;

	code {
		background-color: color.scale(sakura.$color-bg-alt, $lightness: -15%);
	}
}

aside {
	line-height: 2.5rem;

	blockquote {
		margin-bottom: 1rem;
	}

	a {
		font-size: smaller;
	}

	ul {
		margin-bottom: unset;
	}

	li {
		margin-bottom: unset;
	}
}

code {
	white-space: unset;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	.anchor-link {
		visibility: hidden;
	}

	&:hover {
		.anchor-link {
			visibility: visible;
		}
	}
}

.center-child {
	width: 100%;
	display: flex;
	justify-content: space-around;
	padding-bottom: 8px;
}

.spinnerContainer {
	width: 100%;
	display: flex;
	justify-content: center;

	.spinner {
		display: none;
		width: 25%;
	}
}