.post-card {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
	border-radius: 10px;
	overflow: hidden;
	color: #49002d;
	background-color: #ffe4f5;
	background: linear-gradient(0deg, rgba(238, 191, 221, 1) 0%, rgba(255, 228, 245, 1) 100%);
	padding: 10px;
	padding-right: 16px;
}

@media (max-width: 320px) {
	.post-card {
		flex-direction: column;
	}
}

.post-card:hover {
	background-color: #a4607d;
	background: linear-gradient(0deg, rgba(147, 69, 102, 1) 0%, rgba(164, 96, 125, 1) 100%);
}

.post-card img {
	margin-bottom: 0px;
}

.post-image {
	width: 100px;
	height: 100px;
	aspect-ratio: 1;
	object-fit: cover;
	border-radius: 10px;
	filter: drop-shadow(0 0 10px #351f2944);
}

.post-content {
	flex-grow: 1;
	padding-left: 15px;
	text-align: left;
	/* Left-aligning the text */
	display: flex;
	/* Centering the content vertically */
	flex-direction: column;
	justify-content: center;
}

.post-content h2 {
	margin: 0;
	margin-bottom: 4px;
	color: #a9015e;
}

.post-date {
	font-weight: 500;
	color: rgba(0, 0, 0, 0.5);
	font-size: 0.9em;
	text-align: center;
	vertical-align: middle;
}

.post-description {
	color: #333;
}

.post-tag {
	display: inline-block;
	padding: 4px 8px;
	background-color: #8e476e;
	color: #ffe4f5;
	border-radius: 15px;
	/* Pill shape */
	font-size: smaller;
	text-align: center;
	vertical-align: middle;
}

.subinfo {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 0px 8px;
}

@media (max-width: 382px) {
	.post-tag {
		font-size: x-small;
	}

	.post-content h2 {
		margin: 0;
	}
}