@use 'sass:color';
@use 'sakura.css/scss/sakura-vader' as sakura;

/* Big multiselect buttons */
.toggleRes {
	display: flex;
	border-radius: 12px;
	overflow: hidden;
	gap: 4px;

	>label {
		flex: 1;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		line-height: 1.2em;
		padding: 10px 10px;
		cursor: pointer;
		transition: background-color 0.3s, color 0.3s;
		margin-bottom: unset;
		user-select: none;
		text-align: center;
		background-color: color.adjust(sakura.$color-bg-alt, $lightness: -5%);

		input {
			/* Hide the native radio buttons */
			display: none;
		}

		>div {
			font-size: smaller;
			filter: contrast(50%);
		}

		&:hover {
			background-color: sakura.$color-force;
			color: sakura.$color-bg;
		}

		&:has(input:checked) {
			background-color: sakura.$color-blossom;
			color: sakura.$color-bg;
		}
	}
}

@media (hover: none) {
	.toggleRes.toggleCheckbox>label:has(input:not(:checked)):hover {
		background-color: color.adjust(sakura.$color-bg-alt, $lightness: -5%);
		color: inherit;
	}
}