@use 'sakura.css/scss/sakura-vader' as sakura;

.multiButton {
	display: flex;
	gap: 4px;

	.main {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		padding: 8px 24px;
		line-height: 1.2em;
		font-weight: 600;

		border: none;
		border-radius: 12px 0 0 12px;
		background: sakura.$color-blossom;
		color: sakura.$color-bg;
		&:hover,
		&:focus-visible {
			background: sakura.$color-fade;
		}
		&:disabled {
			background: grey;
			cursor: default;
			opacity: .5;
		}
		span:last-child {
			font-size: smaller;
			filter: contrast(50%);
		}

		output {
			min-width: 6ch;
			text-align: center;
			display: inline-block;
		}
	}

	.arrowWrap {
		position: relative;
		select {
			position: absolute;
			width: 100%;
			height: 100%;
			opacity: 0;
			cursor: pointer;
		}

		.arrow {
			display: flex;
			align-items: center;
			justify-content: center;
			height: 100%;
			padding: 0 16px;
			border: none;
			border-radius: 0 12px 12px 0;
			background: sakura.$color-blossom;
			color: sakura.$color-bg;
			pointer-events: none;

			svg {
				width: 15px;
				height: auto;
			}
		}
		&:hover .arrow{
			background: sakura.$color-fade;
		}
	}
}