<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>FrostKiwi's Secrets</title>	
	{% favicon 'assets/kiwis/happy.svg' %}
	<meta name="author" content="Wladislav Artsimovich">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="TechBlog and secret sauce recipes of Wladislav Artsimovich">

	<!-- Post tags become HTML keywords -->
	{% assign post = collections.post | where: "url", page.url | first %}
	{% if post.data.publicTags %}
		{% assign keywords = post.data.publicTags | join: ', ' %}
	{% else %}
		{% assign keywords = "tech blog, programming, graphics" %}
	{% endif %}
	<meta name="keywords" content="{{ keywords }}">

	<!-- Concat CSS to minify it -->
	{% capture css %}
		{% include 'node_modules/sakura.css/css/normalize.css' %}
		{% include 'node_modules/sakura.css/css/sakura-vader.css' %}
		{% include 'style/prism-gruvbox-dark.css' %}
		{% include 'style/base.css' %}
		{% include 'style/card.css' %}
	{% endcapture %}
	<style>
		{{ css | cssmin }}
	</style>
</head>

<body>
	<header>
		<h1 class="title">{{ title | default: "FrostKiwi's Secrets"}}</h1>
		<div class="social">
			<a href="https://www.youtube.com/@FrostKiwi/"><img class="youtube" src="/assets/icons/youtube.svg"></a>
			<a href="/feed.xml"><img class="rss" src="/assets/icons/rss-solid.svg"></a>
		</div>
	</header>
	<main>
		{{ content }}
	</main>
</body>

</html>