<!doctype html>
<html lang="en">

<head>
	<!-- beautify ignore:start -->
	<meta charset="utf-8">
	{% if title %}
		<title>{{ title }}</title>
	{% else %}
		<title>FrostKiwi's Secrets</title>
	{% endif %}
	<link rel="manifest" href="/assets/manifest.webmanifest">
	<link rel="icon" href="/assets/favicon.ico" sizes="32x32">
	<link rel="icon" href="/assets/icon.svg" type="image/svg+xml">
	<link rel="apple-touch-icon" href="/assets/apple-touch-icon.png">
		
	<meta name="author" content="Wladislav Artsimovich">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="{{ description | default: "TechBlog and secret sauce recipes of Wladislav Artsimovich" }}">

	<!-- Post tags become HTML keywords -->
	{% assign post = collections.post | where: "url", page.url | first %}
		{% if post.data.publicTags %}
			{% assign keywords = post.data.publicTags | join: ', ' %}
		{% else %}
			{% assign keywords = "tech blog, programming, graphics" %}
	{% endif %}
	<meta name="keywords" content="{{ keywords }}">

	<!-- Twitter Tags -->
	<meta name="twitter:card" content="summary" />
	<meta name="twitter:creator" content="@FrostKiwiOne" />
	<meta property="og:url" content="https://blog.frost.kiwi{{ page.url }}" />
	<meta property="og:title" content="{{ title | default: "FrostKiwi's Secrets" }}" />
	<meta property="og:description"
		content="{{ description | default: "TechBlog and secret sauce recipes of Wladislav Artsimovich" }}" />
	<meta property="og:image"
		content="https://blog.frost.kiwi{{ post.data.social | default: "/assets/opengraph.jpg" }}" />
	<link rel="me" href="https://mastodon.frost.kiwi/@FrostKiwi">

	<!-- Concat CSS to minify it -->
	{% capture css %}
		{% include 'node_modules/sakura.css/css/normalize.css' %}
		{% include 'node_modules/sakura.css/css/sakura-vader.css' %}
		{% include 'style/prism-gruvbox-dark.css' %}
		{% include 'style/base.css' %}
		{% include 'style/card.css' %}
	{% endcapture %}
	
	<style>
		{{ css | cssmin }}
	</style>
	<!-- beautify ignore:end -->
</head>

<body>
	<header>
		<div class="top-bar">
			<div class="left_group">
				<img class="kiwi" alt="Cute Kiwi doing cute things" src="/assets/kiwis/detective.svg">
				<script>
					(() => {
						const kiwis = [
							'detective', 'facepalm', 'happy', 'ice', 'love', 'miffed', 'party', 'sad', 'surprised', 'dead', 'teach', 'think', 'book', 'cyber', 'laugh', 'sleep'
						].map(name => `/assets/kiwis/${name}.svg`);
						let currentKiwi = Math.floor(Math.random() * kiwis.length);
						const nextKiwi = () => document.querySelector('.kiwi').src = kiwis[++currentKiwi % kiwis.length];
						new Image().src = kiwis[(currentKiwi + 1) % kiwis.length];
						document.querySelector('.kiwi').onclick = nextKiwi;
						nextKiwi();
					})();
				</script>
				<a class="no_border" href="/">
					<div class="site_title">FrostKiwi's<br>Secrets</div>
				</a>
			</div>
			<div class="right_group">
				<a class="no_border" href="/about">
					About
				</a>
				<div class="social">
					<a aria-label="Author YouTube Channel Link" href="https://www.youtube.com/@FrostKiwi/"><img class="social_icon"
							src="/assets/icons/youtube.svg"></a>
					<a aria-label="Author GitHub Link" href="https://github.com/FrostKiwi"><img class="social_icon" src="/assets/icons/github.svg"></a>
					<a aria-label="Blog RSS Feed Link" href="/feed.xml"><img class="social_icon" src="/assets/icons/rss.svg"></a>
				</div>
			</div>
		</div>
		<div class="post_title">
			{% if title %}
			<h1 id="{{ title }}">{{ title }} <a href="#{{ title }}" class="anchor-link">#</a></h1>
			{% if date %}
			<div class="dates">
				<div class="created">Created: {{ date | date: "%Y.%m.%d" }}</div>
				{% if last_modified %}
				<div class="last_modified">Last edit: {{ last_modified | date: "%Y.%m.%d" }}</div>
				{% endif %}
			</div>
			{% endif %}
			{% endif %}
		</div>
	</header>
	{% if tags contains 'post' %}
	<aside>
		<blockquote>
			<details>
				<summary>Table of Contents</summary>
				{{ content | toc: '{"tags":["h1","h2","h3","h4"],"ul":"true"}' | modifyTOC: title }}
			</details>
		</blockquote>
	</aside>
	{% else %}
	<br>
	{% endif %}
	<main>
		{{ content }}
	</main>
	{% if tags contains 'post' %}
	<footer>
		<br>
		<hr>
		<div class="comment_group">
			<h2 id="comments" class="site_title">Comment via GitHub <a href="#comments" class="anchor-link">#</a></h2>
			<img class="kiwi" src="/assets/kiwis/speak.svg">
		</div>
		<script src="https://utteranc.es/client.js" repo="FrostKiwi/treasurechest" issue-term="pathname"
			theme="gruvbox-dark" crossorigin="anonymous" async>
			</script>
	</footer>
	{% endif %}
</body>

</html>