<div style="margin-top: 1.5em" id="WebGLBox-Simple">
<div style="display: flex; gap: 8px">
	<div class="toggleRes" style="width: 100%">
		<label>
			<input type="radio" name="modeSimple" value="scene" checked />
			Scene
		</label>
		<label>
			<input type="radio" name="modeSimple" value="lights" />
			Lights
		</label>
		<label>
			<input type="radio" name="modeSimple" value="bloom" />
			Bloom
		</label>
	</div>
	<div class="toggleRes toggleCheckbox" style="flex:0 0 auto; white-space:nowrap;">
		  <label>
		  	<input type="checkbox" id="animateCheck" checked/>
		  		Animate
		  </label>
	</div>
</div>
<div style="margin-top: 13px" class="canvasParent">
	<canvas style="width: round(down, 100%, 8px); aspect-ratio: 4 / 3;"></canvas>
	<div class="contextLoss" id="contextLoss">❌ The browser killed this WebGL Context, please reload the page. If this happened as the result of a long benchmark, decrease the iteration count. On some platforms (iOS / iPad) you may have to restart the browser App completely, as the browser will temporarily refuse to allow this site to run WebGL again.</div>
	{% include "style/icons/clock.svg" %}
</div>
<table class="settingsTable" style="width: 100%; max-width: 100%;">
	<tr>
	    <td colspan=4 class="stats">
	        <div>
	            <span>
	                <strong>FPS:</strong> <output id="fps">?</output> / <output id="ms">?</output> ms
	            </span>
	            <span>
	                <strong>Resolution:</strong> <output id="width">?</output>x<output id="height">?</output>
	            </span>
	        </div>
	    </td>
	</tr>
	<tr class="variable-name-row noborder">
		<td colspan=4>
			<code>lightBrightness</code>
		</td>
	</tr>
	<tr>
		<td class="variable-name-cell">
			<code>lightBrightness</code>
		</td>
		<td style="width:100%">
			<input disabled class="slider" type="range" step="0.01" min="0" max="20" value="1" id="lightBrightness" oninput="
			this.closest('tr').querySelector('output').value = parseInt(this.value * 100) ">
		</td>
		<td style="text-align: center;">
			<output>100</output> %
		</td>
		<td style="text-align: center;">
			<button disabled id="lightBrightnessReset" class="roundButton" onclick="resetSlider(this, '1', '100')">
				{% include "style/icons/rotate-right.svg" %}
			</button>
		</td>
	</tr>
</table>
<script type="module">
	import { setupSimple } from "./js/simple.js";
	setupSimple();
</script>
</div>
<!-- Benchmark in 1feb0231a940d3dd9989103795f199b4baedb535 -->
<blockquote>
<details><summary><a target="_blank" href="screenshots/fxaainteractive.png">Screenshot</a>, in case WebGL doesn't work</summary>

<!-- ![image](screenshots/fxaainteractive.png) -->

</details>
<details>	
<summary>Blur Fragment Shader <a target="_blank" href="shader/noBlurYet.fs">noBlurYet.fs</a></summary>

```glsl
{% include "posts/dual-kawase/shader/noBlurYet.fs" %}
```

</details>
<details>	
<summary>WebGL Javascript <a target="_blank" href="js/simple.js">simple.js</a></summary>

```javascript
{% include "posts/dual-kawase/js/simple.js" %}
```

</details>
</blockquote>